.card {
    width: 220px;
    height: 100%;
    /*position: relative;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-top: 8%;
    margin-right: 20px;
    float: left;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}
.mc_admin_content {
    float: left;
    margin-top: 10%;
    margin-left: 20px;
}




