.card {
    width: 220px;
    height: 100%;
    /*position: relative;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 280px;
    margin-top: 5%;
    margin-right: 20px;
    float: left;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.mc_admin_content {
    float: left;
    margin-top: 5%;
    margin-left: 20px;
}

#modal_body {
    width: 100%;
    float: left;
}

#modal_text {
    width: 100%;
    float: left;
    margin-top: 10px;
}

#modal_input {
    width: 100%;
    float: left;
    margin-top: 10px;
}

#modal_label {
    width: auto;
    text-align: right;
    font-family: "STHeiti";
}

#modal_foot {
    width: 100%;
    float: right;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

#modal_link {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#form_error {
    color: red;
    height: 10px;
    text-align: left;
    margin-left: 15%;
}

#modal_table {
    float: left;
    margin-top: 10px;
    /*width: 500px;*/
}

#modal_th {
    width: auto;
    height: 20px;
    font-size: 16px;
    color: #5e5e5e;
    /*border: #999999 1px solid;*/
}

#modal_td {
    width: auto;
    height: auto;
}

a:hover {
    text-decoration: none;
}